extends layout

block content
  h3 Recent blocks
  table.table
    thead
      tr
        th Number
        th Miner
        th Timestamp
        th # Tx
        th # Uncles
    tbody
      for block in blocks
        tr
          td
            a(href="/block/" + block.number) #{block.number}
          td 
            a(href="/account/" + block.author) #{block.author}
          td #{moment.unix(block.timestamp).format()}
          td #{block.transactions.length}
          td #{block.uncles.length}
  .paginator
    | 第 #{items.currentPage} 页, 
    | 共 #{items.totalPages} 页, 
    | 总计 #{items.total} 条数据. 
    a(href="?page=1") 第一页
    if items.currentPage !== 1
      a(href="/page:#{items.currentPage - 1}") 上一页
    - for(var i = items.currentPage - 2; i <= items.currentPage + 2; i++)
      if i >= 1 && i <= items.totalPages
        a(href="/page:#{i}")=i
    if items.currentPage !== items.totalPages
      a(href="/page:#{items.currentPage + 1}") 下一页
    a(href="/page:#{items.totalPages}") 最后一页
  h3 Recent Transactions
  if txs.length === 0
    p No transactions during the last 10 blocks
  else
    table.table
      thead
        tr
          th Hash
          th From
          th To
          th Amount
      tbody
        for tx in txs
          tr
            td
              a(href="/tx/" + tx.hash) #{tx.hash.substr(0,10)}...
            td
              a(href="/account/" + tx.from) #{tx.from}
            td
              if tx.to
                a(href="/account/" + tx.to) #{tx.to}
              else
                | New Contract
            td #{tx.value}